@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@font-face {
  font-family: SpaceReg;
  src: url(../public/fonts/SpaceGrotesk-Regular.woff) format("woff");
}
@font-face {
  font-family: SpaceMed;
  src: url(../public/fonts/SpaceGrotesk-Medium.woff) format("woff");
}
@font-face {
  font-family: SpaceSemiBold;
  src: url(../public/fonts/SpaceGrotesk-SemiBold.woff) format("woff");
}
@font-face {
  font-family: SpaceBold;
  src: url(../public/fonts/SpaceGrotesk-Bold.woff) format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  font-family: "SpaceBold", sans-serif;
}
